
.column {
  width: auto;
  padding: 15px;
  border-right: 2px dotted green;
  display: inline-block;
}

.column input {
  width: 40px;
  text-align: center;
  font-family: monospace;
  font-size: 1.1em;
  border: 1px solid black;
}

.column table {
  float: left;
}

td input.na {
  background-color: #faa;
}

td.stats {
  font-size: 0.7em;
}

td.first input {
  background-color: #afa;
  font-weight: bold;
}

td:not(.first) input {
  border: 1px dotted gray;
}