.App {
  text-align: center;
  overflow: auto;
}

.App-logo {
  animation: App-logo-spin infinite 20s linear;
  height: auto;
}

.App-header {
  background-color: #222;
  padding: 5px;
  color: white;
  position: fixed;
  height: 80px;
  width: 100%;
}

.header-spacer {
  height: 80px;
}

.App-header input {
  font-size: 1.5em;
  width: 80px;
  text-align: center;
}

.App-intro {
  font-size: large;
}

@keyframes App-logo-spin {
  from { transform: rotate(0deg); }
  to { transform: rotate(360deg); }
}

.float-container {
  overflow: auto;
}

.categories-input {
  margin: auto;
  margin-top: 40px;
  padding-top: 20px;
  border-top: 2px solid black;
  width: 100%;
}
.categories-input textarea {
  display: block;
  height: 100px;
  width: 200px;
  margin: auto;
}

.chrono {
  margin: 20px 0 20px 0;
}
.chrono textarea {
  font-family: monospace;;
  white-space: pre;
  width: calc(100% - 100px);
  height: 18rem;
  line-height: 1.8em;
}

button[type="reset"] {
  color: yellow;
  background-color: red;
  font-weight: bold;
  font-size: 0.6em;
}